<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnSQLOffices"
			 connectionString="Server=FAKE_SQL_SERVER;Database=FakeDatabase;User Id=fakeUser;Password=fakePassword;"
			 providerName="System.Data.SqlClient" />
		<add name="ConnDB2"
			 connectionString="Server=FAKE_DB2_SERVER:50000;Database=FAKEDB;UID=fakeUser;PWD=fakePassword;"
			 providerName="IBM.Data.DB2" />
	</connectionStrings>
</configuration>
